<!DOCTYPE html>
<html>
  <head>
    <title>Dawn API</title>
    <link rel="stylesheet" href="./css/main.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,400italic|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/rouge.css" type="text/css" />
  </head>
  <body>
    <%= contents %>
  </body>
</html>
